.content{
    /* background-color: red; */
    width:500px;
    height:70px;
    margin:100px;
}
#sub{
    border-radius:8px;
    padding:5%;
    font-size: 2em;
    border-style: solid;
    border-width: 1px;
    background-color: #eeeeee;
    border-color: #cccccc;
}
#tbox{
    padding:5% 10% 5% 10%;
    font-size: 2em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 8px;
    border-color: #cccccc;
}
#add{
    padding:5%;
    font-size: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: #eeeeee;
    border-color: #cccccc;
}